*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    background-color: black;
    color: white;
}

#wrap{
    background-color: hsl(235, 45%, 61%);
    max-width: 400px;
    padding: 30px;
    margin: 0 auto;
}

#profile{
    background-color: hsl(235, 46%, 20%);
    position: relative;
    height: 180px;
    border-radius: 10px;
}

#userinfo{
    position: absolute;
    top: 0;
    background-color: hsl(246, 80%, 60%);
    width: 100%;
    height: 70%;
    padding: 10px;
    display: flex;
    align-items: center;
    border-radius: 10px;
}

#userinfo img{
    width: 80px;
    margin-right: 10px;
    border: 3px solid white;
    border-radius: 40px;
}

#button{
    position: absolute;
    bottom: 0px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;
}
#button p{
    margin: 20px;
    cursor: pointer;
}

#button p:active{
    color: red;
}

#backdiv{
    height: 150px;
    position: relative;
    border-radius: 10px;
    margin: 20px 0;
    overflow: hidden;
    width: 100%;
}

#timedata{
    background-color: hsl(235, 46%, 20%);
    border-radius: 10px;
    padding: 20px;
    position: absolute;
    bottom: 0;
    width: 100%;
    height: 115px;
    z-index: 9999;
}

#firstp{
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 10px;
} 

#difference{
    display: flex;
    align-items: center;
    justify-content: space-between;
}

#data #backdiv:nth-child(1){
    background-color: hsl(15, 100%, 70%);
}

#data #backdiv:nth-child(1)::after{
    content: url(images/icon-work.svg);
    position: absolute;
    top: -15px;
    right: 20px;
}

#data #backdiv:nth-child(2){
    background-color: hsl(195, 74%, 62%);
}

#data #backdiv:nth-child(2)::after{
    content: url(images/icon-play.svg);
    position: absolute;
    top: -15px;
    right: 20px;
}

#data #backdiv:nth-child(3){
    background-color: hsl(348, 100%, 68%);
}

#data #backdiv:nth-child(3)::after{
    content: url(images/icon-study.svg);
    position: absolute;
    top: -15px;
    right: 20px;
}
#data #backdiv:nth-child(4){
    background-color: hsl(145, 58%, 55%);
}


#data #backdiv:nth-child(4)::after{
    content: url(images/icon-exercise.svg);
    position: absolute;
    top: 0px;
    right: 20px;
}

#data #backdiv:nth-child(5){
    background-color: hsl(264, 64%, 52%);
}

#data #backdiv:nth-child(5)::after{
    content: url(images/icon-social.svg);
    position: absolute;
    top: -10px;
    right: 20px;
}

#data #backdiv:nth-child(6){
    background-color: hsl(43, 84%, 65%);
}

#data #backdiv:nth-child(6)::after{
    content: url(images/icon-self-care.svg);
    position: absolute;
    top: -15px;
    right: 20px;
}


/*for the responsieve screen of sm and above*/
@media screen and (min-width:1000px){    
    #wrap{
        max-width: 1200px;
        display: flex;
        flex-direction: row;
    }

    #profile{
        width: 25%;
    }
    #data{
        border: 1px solid red;
        width: 75%;
        display: flex;
        flex-wrap: wrap;
    }

    #data #backdiv{
        width: 33%;
    }
}